@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

.stApp {
    background: #8a8a8a;
    background: linear-gradient(0deg,rgba(138, 138, 138, 0) 0%, rgba(138, 138, 138, 0) 92%, rgba(138, 138, 138, 1) 100%);
}
.st-key-green {
    color: black;
    background-color: blue;
}
h2 {
    font-family: "Archivo", sans-serif!important;
    font-weight: 400!important;
    letter-spacing: 4px; 
    color:#00666C!important;
}
.stColumn {
    border-radius: 20px;
    padding:0;
    font-family: "Archivo", sans-serif;
    font-weight: 200;
}
.st-key-col1-title h1 {
    text-align: right;
    font-family: "Archivo", sans-serif;
    font-weight: 900;
    font-style: italic;
    margin: 10px 0 60px 0;
    color:#00666C;
}
.st-key-insert-image svg {
    fill: #00666C!important;
}
.st-key-col1-insert,.st-key-col2-insert {
    padding:40px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 36px -14px rgba(194, 194, 194, 1);
    -moz-box-shadow: 0px 0px 36px -14px rgba(194, 194, 194, 1);
    box-shadow: 0px 0px 36px -14px rgba(194, 194, 194, 1);
}

.st-key-button-1, .st-key-button-2, .st-key-button-3 {
    margin-left: auto;
    margin-right: 0;
}

.st-key-button-1 button, .st-key-button-2 button, .st-key-button-3 button, .st-key-button-4 button {
    background-color: #00666C!important;
    color:white!important;
    border: solid 2px white;
}

.st-key-button-1 button:hover, .st-key-button-2 button:hover, .st-key-button-3 button:hover, .st-key-button-4 button:hover {
    background-color: white!important;
    color:#00666C!important;
    border: solid 2px #00666C;
}

.st-key-insert-image section, .st-key-product_data textarea, .st-key-target-gogle input {
    background-color: white;
    border: solid 1px rgba(194, 194, 194, 1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.st-key-product_data div, .st-key-target-gogle div {
    background-color: transparent;
    border-width: 0;
}

.st-key-target-verb .stSelectbox > div[data-baseweb="select"] > div, 
.st-key-target-lang .stSelectbox > div[data-baseweb="select"] > div {
    background-color: white;
    border: solid 1px rgba(194, 194, 194, 1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    cursor: pointer;
}

li[aria-selected="true"] {
    background-color: #00666C!important;
    color:white!important;
}

.st-key-target-verb .stSelectbox label div {
    border-width: 0!important;
}

.st-key-insert-image button {
    border: solid 1px rgba(194, 194, 194, 1);
    background-color: #00666C!important;
    color:white!important;
}

.st-key-insert-image button:hover {
    background-color: white!important;
    color:#00666C!important;
    border: solid 2px #00666C;
}

.st-key-insert-image button::before {
    content: "\f090";
    font-family: Material Symbols Rounded;
    font-weight: 400;
    font-style: normal;
    padding:0 10px 0 0;

}

label, label p {
    margin-top: 10px!important;
    font-size: 1rem!important;
}

.st-key-space {
    height: 0.125rem !important;
    margin-top: 0.5rem;
    margin-bottom: 0px;
    border: medium;
    border-radius: 9999px;
    background: linear-gradient(to right, rgb(255, 75, 75), rgb(255, 164, 33), rgb(250, 202, 43), rgb(33, 195, 84), rgb(28, 131, 225), rgb(128, 61, 245));
}


